@keyframes break-left {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes break-right {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes break-dot {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-65px);
  }
  60% {
    transform: translateX(-65px);
  }
  70% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
