.hero__text {
  width: 100%;
}
.hero__text .mini-heading {
  font-family: var(--orbitron);
  color: var(--accent);
  display: inline-block;
  font-size: 14px;
  margin-bottom: 18px;
}

.hero__text .big-heading {
  position: relative;
  display: inline-block;
  font-size: 6vw;
  font-weight: var(--semi-bold);
  color: var(--accent);
  margin: 6px 0 16px;
  line-height: 1.1;
  font-style: italic;
}

.hero__text p {
  width: 100%;
  max-width: 500px;
  color: var(--gray);
}
.hero__text a {
  margin-top: 36px;
}

.hero__image {
  width: 30%;
}
.hero__image img {
  width: 100%;
  max-width: 400px;
}

.ido__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px 16px;
  text-align: center;
}

.ido__content__item {
  display: grid;
  place-items: center;
}
.ido__content__item img {
  width: 70px;
  height: 70px;
  margin: 0 0 6px;
}
.ido__content__item p {
  max-width: 316px;
  /* margin: 0 auto; */
}
.ido__content__item hr {
  margin: 4px 0 8px;
}

.techstack__content {
  display: flex;
  flex-wrap: wrap;
}

.techstack__content img {
  width: 50px;
  height: 50px;
  padding: 6px;
  cursor: crosshair;
  transition: 250ms;
}

.techstack__content img:hover {
  transform: scale(1.3);
}

.project__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px 16px;
}

.project__content__item .image {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.project__content__item .image:hover::after {
  background-color: rgba(0, 0, 0, 0.8);
}

.project__content__item .image:hover > .action {
  display: grid;
}

.project__content__item .image::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 7px;
  right: 0;
  transition: 250ms ease-in-out;
}
.project__content__item .image .action {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  display: none;
  place-items: center;
  z-index: 2;
}
.project__content__item .image .icons {
  width: 60px;
  padding: 14px;
  transition: 250ms;
  cursor: pointer;
}
.project__content__item .image .icons:hover {
  transform: scale(1.2);
}
.project__content__item .image img {
  width: 100%;
}
.project__content__item .image .title {
  position: absolute;
  bottom: 7px;
  right: 0;
  background-image: var(--grad-horizontal);
  padding: 3px 32px;
  border-top-left-radius: 60px;
  font-weight: var(--semi-bold);
  font-size: 14px;
}

.whatnext__content__title {
  font-size: 10vw;
  font-weight: var(--semi-bold);
  color: rgb(148, 148, 148);
  line-height: 1;
  margin-bottom: 22px;
}
.whatnext__content p {
  max-width: 500px;
  margin: 0 auto;
}
.whatnext__content__button {
  margin: 32px 0 28px;
}

/* -------------------------------------------------------------------------- */
/*                                 MEDIA QUERY                                */
/* -------------------------------------------------------------------------- */
/* sm */
@media screen and (min-width: 566px) {
  .hero__text .big-heading {
    font-size: 5vw;
  }
  .hero__text a {
    margin-top: 40px;
  }
  .project__content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .ido__content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .techstack__content img {
    width: 58px;
    height: 58px;
  }

  .ido__content__item img {
    width: 90px;
    height: 90px;
    margin-bottom: 8px;
  }
  .ido__content__item hr {
    margin: 6px 0 12px;
  }

  .whatnext__content__title {
    font-size: 64px;
  }
}
/* custom breakpoints */
@media screen and (min-width: 721px) {
  .ido__content {
    text-align: left;
  }
  .ido__content p {
    width: 100%;
    margin: 0;
  }
  .ido__content__item {
    place-items: unset;
  }
}
/* md */
@media screen and (min-width: 768px) {
  .hero__text .mini-heading {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .hero__text .big-heading {
    font-size: 56px;
    margin-top: 12px;
  }
  .project__content__item .image .title {
    font-size: 16px;
  }

  .techstack__content img {
    width: 74px;
    height: 74px;
    padding: 12px;
  }
}
/* lg */
@media screen and (min-width: 992px) {
  .hero__text .big-heading {
    font-size: 56px;
  }
}

/* xxl */
@media screen and (min-width: 1400px) {
  .hero__text .big-heading {
    font-size: 72px;
  }
}
